<p style="color: green"><%= notice %></p>

<h1>Trabajos</h1>

<div id="trabajos">
  <% @trabajos.each do |trabajo| %>
    <%= render trabajo %>
    <p>
      <%= link_to "Mostar", trabajo %>
    </p>
  <% end %>
</div>

<%= link_to "crear nueva oferta de trabajo", new_trabajo_path, class:"btn btn-success btn.btn-medium btn.btn-rounded" %>
