<p style="color: green"><%= notice %></p>

<h1>Postulante</h1>

<div id="usuarios">
  <% @usuarios.each do |usuario| %>
    <%= render usuario %>
    <p>
      <%= link_to "Mostrar Postulante", usuario %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo usuario", new_usuario_path %>
